﻿@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section scripts{
    <environment names="Development">
        <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
    </environment>
}
<div class="row justify-content-md-center">
    <div class="card col-lg-3 border-0">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Username">Username:</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input asp-for="RememberMe" class="form-check-input" type="checkbox">
                    Remember me?
                </label>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Login" class="btn btn-success align-center" />
            </div>
        </form>
    </div>
</div>