﻿<h3>Shopping Cart</h3>
<div>#/Items: {{ data.order.items.length }}</div>
<div>Subtotal: {{ data.order.subtotal | currency:"GBP" }}</div>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <td>Product</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let orderItem of data.order.items">
            <td>{{ orderItem.productCategory }} - {{ orderItem.productTitle }}</td>
            <td>{{ orderItem.quantity }}</td>
            <td>{{ orderItem.unitPrice | currency:"GBP" }}</td>
            <td>{{ (orderItem.unitPrice * orderItem.quantity) | currency:"GBP" }}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-success" *ngIf="data.order.items.length > 0" (click)="onCheckout()">Checkout</button>