﻿<div class="row">

    <div class="product-info col-md-4 card" *ngFor="let product of products">
        <div class="card-body">
            <img src="/img/{{ product.artId }}.jpg" class="img-fluid" alt="{{ product.title }}" />
            <div class="product-name">{{ product.category }} - {{ product.size }}</div>
            <div><strong>Price:</strong> {{ product.price | currency:"GBP" }}</div>
            <div><strong>Artist:</strong> {{ product.artist }}</div>
            <div><strong>Title:</strong> {{ product.title }}</div>
            <div><strong>Description:</strong> {{ product.artDescription }}</div>
            <button id="buyButton" class="btn btn-success btn-sm pull-right" (click)="addProduct(product)">Buy</button>
        </div>
    </div>

</div>